.content {
    position: relative;
    z-index: 3;
  }
  #no{
    position: absolute;
    display: inline-block;
    left: 35%; 
    top: 40vh;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes{
    position: absolute;
    display: inline-block;
    left: 70%; 
    top: 40vh;
    -webkit-transition: all 0.3s ease-out;
  }
#bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    /* height: 100vh; */
    z-index: 0;
    background-repeat: no-repeat;
    /*background-image: url(../img/bg.webp);*/
    background-image: url(../img/bg5.png);
    background-size: cover;
    /*background-position: 30%;*/
    background-position: center center;
    /*-webkit-filter: blur(4px);*/
}

.swal2-image{
  object-fit: contain;
}

.swal2-title, .swal2-content{
  color: azure !important;
}
.swal2-popup {
  border-radius: 15px !important;
}
.swal2-styled {
  background-color: #3621d0 !important;
}
.swal2-confirm {
  background-color: #3352dc !important;
}
header h2 {
  font-family: 'SVN-Sign Painter House Script';
  font-size: 50px;
  color:yellow;
  text-align: center;
	margin-bottom: 30px;
}
header h4 {
  font-family: 'SVN-Sign Painter House Script';
  font-size: 40px;
  text-align: center;
  padding: 0px 16px;
}
header h6 {
    font-size: 15px;
    font-family: 'Montserrat';
    text-align: center ;
    color: aliceblue;
    vertical-align: text-bottom;
}

@media only screen and (max-width: 400px) {
    header h2 {
    font-family: 'SVN-Sign Painter House Script';
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    }
  header h4 {
    font-family: 'SVN-Sign Painter House Script';
    text-align: center;
    padding: 15px;
  }
  header h6 {
        font-family: 'Montserrat';
        text-align: center;
        color: aliceblue;
        vertical-align: text-bottom;
  }
  #no{
    position: absolute;
    display: inline-block;
    left: 7%; 
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes{
    position: absolute;
    display: inline-block;
    left: 58%; 
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.3s ease-out;
  }
}

.swal2-backdrop-show{
  /* background-size: 200px 100px !important; */
}
